.header {
  padding-top: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 45px;
  }
}

.open {
  display: flex !important;
}

.nav {
  display: flex;
}

.nav ul {
  list-style: none;
}

.burger {
  display: none;
  position: relative;
  align-items: center;
  width: 18px;
  height: 16px;
  z-index: 2;
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #fcfcfb;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fcfcfb;
  transition: all 0.3s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}

@media (max-width: 767px) {
  .burger {
    display: flex;
  }

  .nav {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow-y: auto;
    padding: 80px 110px;
    background: linear-gradient(
      -57.66deg,
      rgb(45, 42, 34) 5.184%,
      rgb(126, 109, 83) 110.238%
    );
    animation: burgerAnimation 0.4s;
  }

  .nav .list-nav-menu {
    flex-direction: column;
    row-gap: 35px;
  }
  .nav .list-contact-menu {
    flex-direction: column;
    row-gap: 32px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.menu-link:focus,
.menu-link:hover {
  color: #000;
}

.burger.active {
  position: fixed;
  right: 27px;
}

.name-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2%;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.btn-nav {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.btn-border {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 15px;
}
